/*
<!--

* 17素材vip建站专区模块代码
* 详尽信息请看官网：http://www.17sucai.com/pins/vip
*
* Copyright , 温州易站网络科技有限公司版权所有
*
* 请尊重原创，未经允许请勿转载。
* 在保留版权的前提下可应用于个人或商业用途

-->
*/

html,body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a, label, button, input, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border: 0;
}

body {
    background: #f8f8f8;
    color: #666;
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
}


.divHeight {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.r-line {
    position: relative;
}

.r-line:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.b-line {
    position: relative;
}

.b-line:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.aui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}


/* 必要布局样式css */

.aui-flexView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aui-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.aui-navBar {
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1002;
    background: #3a3a3a;
}


.aui-navBar-item {
    height: 44px;
    min-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    color: #808080;
    position: relative;
}

.aui-navBar-item:first-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: -25%;
    font-size: 0.9rem;
    font-weight: bold;
}

.aui-navBar-item:last-child {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.aui-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 50%;
    margin-left: 25%;
}

.aui-center-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 0.98rem;
    color: #fff;
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    float: left;
    background-size: 20px;
    background-repeat: no-repeat;
}

.icon-return{
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAABzElEQVRoQ93b7U0DMQwGYHsCGIENYIQyAqMwAWUDNoENgA3YAEaACYxeKZWqqqWXXGy/xr+ba57Lhy62olIgzOxSRB5E5EZEvkTkXlW/R7quI40i2zTsa8Pu/vpDRG5H0NTgE9gdGqP81PvyacFnsHA+qur2X4AXYH8wxVUV67kr6EZ4IXajqljH3UEF9sbi7dCAI7A04CgsBTgSmw6OxqaCM7Bp4CxsCjgTGw7OxoaCGbBhYBZsCJgJ6w5mw7qCGbFuYFasC5gZOx3Mjp0KroCdBq6CnQI2sysReT7IG+/nmpBwG85BdSetzjRYleIxM1QCkCRHZeBYUGFXjXBF7DC4rdnPSiO7m35DU9rMkPFHcavENN7vpAd4uNA1e4M69rxRMDYplDkuTnSSFj0EBrJtWm/V0MPgquhV4Iro1eBq6CngSuhp4CroqeAK6OlgdrQLmBntBmZFu4IZ0e7ghkZW5EVErrO/vUPADY0DB769U9FhYBZ0KJgBHQ7ORqeAM9Fp4Cx0KjgDnQ6ORlOAI9E04Cg0FTgCTQf2RlOCF6LvVBUHkq6gBS9A494SDiNdQQ3+A/2uqpsuafsxPXgPjUtZKMBjVLcjt9LwrF8TKGNMKd0SiQAAAABJRU5ErkJggg==');
}

.icon-more{
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAC9UlEQVRoQ+2XO2gVURCGv98XKBLFRiyiYEQbHyj4aCwkoBCwiIpG1EIQRSHYG8sYsBQrH40oGINoo6KI6dUiYhoFtbEINuJb8DUyca9cb27unr1ZYdl7TrPFmZkz//z/mTMrWmypxfASAZed8chwZLhkFYiSLhmhE+BEhiPDJatAlHTJCI1NK0o6SrpkFYiSLhmhsUtHSbecpM1sBbATmA48A0YkvcijEGbWBuwDFgJjwJMk/repxjczV+s2YBPwGXgKPJb0tjr2X0mb2WLgArC1zuGvgF5Jd5pJzMymAaeBY8CcmhhfgDPASUm/mozfBZwFltbxvw0clfTa98YBJ2AfAMsaHPgD6JJ0P0tSCdiLwMEUv/OSjmSJneS+HbgBzGjg6wrd6GwrSeh5CthKrPfAqkq1QpIzs1PAiRBb4LAkV1nQMrO1wKMUsJVYw5I6HfAeYDDohD9GVyQdCLE3s7nJXfVvyHoHtEv6FGJsZleBnhDbxGaXA74G7M7g5HduvqTvaT5m1p3ILc20en+HpJtpDmY2E3DFzU6zrdofcsCjwMoMTm7aIckbWcNlZn1Af5pdzX6fpIE0HzPrALK+HqMtCTirpL8CbZK8a6cx/D8l7V35QzOS9iHjelryVfuDkvaG2DfRtLxZLcrQtC4D+0NySWx6Ku/wMLAlwNFZ3SBpJMB23MTMDiUDTYjLgCS/90HLzNoB70HzAhxeAssrgBck75k3gsmWg+2WdCsg+D8mZuZvqwNvtC75cCLJssQ3s07gbspb7GA3SxqrHi2XAOeSebT2TO+Gx6c4Wnrn7a0zWrqMfSyc6mjp42m9SXHiaFmNzsyc7fXA6iS5h8C9rJWvx5KZzQLWAWv8rgJvkkHmYxZWJ7M1Mwfs8f0H6CcwVPvjE/+H86h0kWNEhovMTh65RYbzqGKRY0SGi8xOHrlFhvOoYpFjRIaLzE4euUWG86hikWNEhovMTh65RYbzqGKRY0SGi8xOHrlFhvOoYpFjtBzDvwEZPOrKdTRAKQAAAABJRU5ErkJggg==');

}


.m-slider {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.slider-item {
    width: 100%;
    height: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #f6f6f6;
}

.slider-item img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.slider-pagination {
    text-align: right;
    position: absolute;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 10px;
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-pagination > .slider-pagination-item {
    margin: 0 .25rem;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.4);
}

.slider-pagination > .slider-pagination-item.slider-pagination-item-active {
    background-color: #fff;
    border-radius: 100%;
}


.aui-palace {
    padding: 0.5rem 0;
    position: relative;
    overflow: hidden;
}

.aui-palace-grid {
    position: relative;
    float: left;
    padding: 1px;
    width: 20%;
    box-sizing: border-box;
    margin: 5px 0;
}

.aui-palace-grid-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.aui-palace-grid-icon img {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.aui-palace-grid-text {
    display: block;
    text-align: center;
    color: #333;
    font-size: 0.85rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 0.2rem;
}

.aui-palace-grid-text h2 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #666666;
}


.aui-dot-head{
    position:relative;
    width:100%;
}

.aui-dot-head img{
    width:100%;
    height:auto;
    display:block;
}

.aui-dot-body{
    width:100%;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-50%;
    top:10%;
    text-align:center;
}

.aui-dot-body h1{
    color:rgba(255,255,255,0.9);
    font-size:2rem;
    margin-bottom:1rem;
}


.aui-dot-text{
    background:#fff;
    width:70%;
    margin:0 auto;
    color:#5097ff;
    font-size:0.85rem;
    border-radius:20px;
    height:1.8rem;
    line-height:1.8rem;
}

.aui-dot-title{
    width:100%;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-50%;
    bottom:21%;
    text-align:center;
    color:rgba(255,255,255,0.9);
}

.aui-dot-title h2{
    color:rgba(255,255,255,0.9);
    font-weight:normal;
    font-size:1.05rem;
    margin-bottom:0.6rem;
}

.aui-dot-title p{
    margin-bottom:0.2rem;
    font-size:0.82rem;
}

.aui-chg-box{
    background-color: rgba(255,255,255,0.6);
    margin:-2.8rem auto 1rem;
    width:92%;
    box-shadow:0 4px 9px #e6e6e6;
    height:auto;
    position:relative;
    border-radius:5px;

}

.aui-chg-box h2{
    text-align:center;
    height:3.5rem;
    line-height:2.9rem;
    color:#4e4e4e;
    font-size:1.1rem;
}

.aui-logo-block{
    width:40px;
    height:40px;
    margin-right:1rem;
}

.aui-logo-block img{
    width:100%;
    height:auto;
    display:block;
    border:none;
}

.aui-flex-box h3{
    color:#383838;
    font-size:0.98rem;
}


.aui-button-dot button{
    border:none;
    color:#fff;
    font-size:0.82rem;
    padding:0.35rem 1.3rem;
    border-radius:20px;
    background: -webkit-linear-gradient(left, #fe5244 , #ff7840); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #fe5244 , #ff7840); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #fe5244 , #ff7840); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #fe5244 , #ff7840); /* 标准的语法 */
    box-shadow:0 3px 9px #ffbb9e;
}

.aui-chg-link .b-line:after{
    left:25px;
    width:92%;
}

@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */

    .aui-dot-body h1{
        margin-bottom:10px;
    }
    .aui-dot-body {
        width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        margin-left: -50%;
        top: 6%;
        text-align: center;
    }
    .aui-chg-box {
        background-color: rgba(255,255,255,0.6);
        margin: -2.5rem auto 1rem;
        width: 92%;
        box-shadow: 0 4px 9px #e6e6e6;
        height: auto;
        position: relative;
        border-radius: 5px;
    }
}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */

    .aui-dot-body h1{
        margin-bottom:10px;
    }
    .aui-dot-body {
        width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        margin-left: -50%;
        top: 6%;
        text-align: center;
    }
    .aui-chg-box {
        background-color: rgba(255,255,255,0.6);
        margin: -2.5rem auto 1rem;
        width: 92%;
        box-shadow: 0 4px 9px #e6e6e6;
        height: auto;
        position: relative;
        border-radius: 5px;
    }

}